<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada - Karina</title>
</head>
<body>
	<center>
		<h1><strong>A4.3 Portada con Spring Boot</strong></h1>
	    <h1>Karina Vazquez Reyes</h1>
	    <h2>Desarrollo Web Avanzado</h2>
	    <h2>Fecha de Entrega: 13 de mayo de 2022</h2>
	    <h3>Mi Portada</h3>
	</center>
	
</body>
</html>